/* section-img-big */

.img__big {
  max-width: 1770px;
  flex-direction: column;
  padding: 100px 80px;
  background-image: url("../img/main-big.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 32px;
}

.img__big-title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white);
}

.img__big-text {
  max-width: 790px;
  margin: 0;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
}

.img__big-button {
  max-width: 280px;
  padding: 25px 39px;
  text-align: center;
  color: var(--white);
  background: var(--orange);
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
}